---
const { data } = Astro.props;
//console.log(data);
---

<a href={"artists/$(data.id)"}>
  <article>
    <img src="/img/2stjerner.svg" alt="stjerne" width="30px" />
    <p>{data.name}</p>
    <img src="/img/2stjerner.svg" alt="stjerne" width="30px" />
  </article>
</a>
<style>
  p {
    font-family: pt;
    font-size: 20px;
    color: var(--hvid);
  }

  p:hover {
    color: var(--blaa);
  }

  article {
    display: flex;
  }

  a {
    text-decoration: none;
  }
</style>
