---

---

<!--  <article>
        <p>PLAYING NOW ON TRIBUNEN:
            <a href="#">ACID PAULI</a>
        </p>
        <p>PLAYING NOW ON MANEGEN:
            <a href="#"> VTSS </a>
        </p>
        <p>PLAYING NOW ON BALKONEN:
            <a href="#"> CHICAGO PRES </a>
        </p>
    </article> -->
<article>
  <marquee direction="right" height="80px" behavior="scroll" direction="right" scrollamount="12" loop="">
    <p>
      PLAYING NOW ON TRIBUNEN:
      <a href="#">ACID PAULI</a>
    </p>
    <p>
      PLAYING NOW ON MANEGEN:
      <a href="#"> VTSS </a>
    </p>
    <p>
      PLAYING NOW ON BALKONEN:
      <a href="#"> CHICAGO PRES </a>
    </p>
  </marquee>
</article>

<style>
  marquee {
    display: flex;
    flex-direction: row;
    max-height: 100px;
    background-color: #f54765;
    width: 100%;
    align-items: center;
  }

  p {
    padding: 30px;
    font-size: 18px;
    font-family: pt;
  }

  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-left: 10px;
  }

  a:hover {
    color: blue;
  }
</style>
