---
import MainLayout from "../../pages/layouts/MainLayout.astro";
---

<MainLayout>
  <nav>
    <a href="index">
      <img src="/public/img/logo.svg" alt="Logo" />
    </a>
    <a href="tickets">TICKETS</a>
    <a href="map">MAP</a>
    <a href="values">VALUES</a>
  </nav>
</MainLayout>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-align: justify;
    margin-top: 1%;
    line-height: 20px;
    color: var(--hvid);
    font-family: pt;
  }

  nav a:hover {
    color: var(--blaa);
  }
</style>
