---

---

<nav>
  <a href="index"> </a>
  <a href="tickets">Tickets</a>
  <a href="map">Map</a>
  <a href="values">Values</a>
</nav>

<style>
  nav {
    background-color: var(--sort);
    color: var(--hvid);
  }
</style>
