---
import type { GetStaticPaths } from "astro";
import MainLayout from "../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const url = "https://dofjurysipshifoimvyh.supabase.co";

  const options = {
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRvZmp1cnlzaXBzaGlmb2ltdnloIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTEzMjYsImV4cCI6MjAyNjA2NzMyNn0.9dty-Cjmpg6zg6892rW1Zbx8oXq36KftJTYRLgtgqyw",
    },
  };

  const data = await fetch(url, options).then((response) => response.json());

  return data.map((artist) => {
    return {
      params: { name: artist.name },
      props: { artist },
    };
  });
}
const { artist } = Astro.props;
---

<article><h1>{artist}</h1><p></p></article>

<MainLayout>
  <div class="grid_artist">
    <div class="artist_col">
      <h1>VTSS</h1>
      <h2>25th august 2024</h2>
      <h2>00.00 Manegen</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero cumque
        enim nesciunt, iure officiis in facilis voluptate voluptatum eos
        consequuntur id distinctio, excepturi magnam alias dolore quae, deleniti
        sed ipsa. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Accusamus soluta nam dolor eveniet natus fugiat excepturi iste suscipit
        dicta consequuntur alias beatae enim adipisci consectetur, dignissimos
        qui doloribus sint maiores.
      </p>
    </div>

    <div class="artist_col2">
      <img src="../img/map.webp" alt="billede af map" />
    </div>
  </div>
</MainLayout>

<style>
  .grid_artist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 70px;
    margin-left: 70px;
    gap: 20px;
  }

  .artist_col {
    display: grid;
    grid-column: 2 / span 1;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
  }

  .artist_col2 {
  }
</style>
