---
import MainLayout from "../layouts/MainLayout.astro";

import Start from "../components/index_components/Start.astro";
import Formular from "../components/index_components/Formular.astro";
import Lineup from "../components/index_components/Lineup.astro";
import Banner from "../components/index_components/Banner.astro";
import Footer from "../components/Footer.astro";

const data = await fetch(
  "https://dofjurysipshifoimvyh.supabase.co/rest/v1/karrusel",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRvZmp1cnlzaXBzaGlmb2ltdnloIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTEzMjYsImV4cCI6MjAyNjA2NzMyNn0.9dty-Cjmpg6zg6892rW1Zbx8oXq36KftJTYRLgtgqyw",
    },
  }
).then((res) => res.json());

//console.log(data);

/* url ("https://dofjurysipshifoimvyh.supabase.co");*/

/* api key  ("eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRvZmp1cnlzaXBzaGlmb2ltdnloIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTEzMjYsImV4cCI6MjAyNjA2NzMyNn0.9dty-Cjmpg6zg6892rW1Zbx8oXq36KftJTYRLgtgqyw");*/
---

<MainLayout title="Start">
  <h1 id="karrusel_h1">KARRUSEL</h1>
  <p>22 - 24 AUGUST 2024</p>

  <Start />

  <!-- indsæt img og knap component -->

  <div id="loka_info">
    <h3>REFSHALEØEN - COPENHAGEN</h3>
    <p>3 DAYS OF HOUSE, DISCO AND TECHNO IN THE WOODS</p>
  </div>

  <!-- indsæt live banner component -->
  <Banner />

  <h1>LINEUP 2024</h1>

  <!-- Indsæt lineup -->

  <div id="lineup">
    <Lineup />
  </div>

  <img
    id="karrusel_illu"
    src="/img/karrusel.svg"
    alt="karrusel illustration"
    width="100px"
    height="100px"
  />

  <div class="formular">
    <Formular
      header="Want to volunteer?"
      info="Do you want to be a volunteer at Karrusel Festival 2024? Sign up for more information down below."
      knap="Get Info"
    />
    <Formular
      header="Get the latest news and updates"
      info="Do you want to get the latest news from Karrusel Festival? sign up here to get notifications about it all. "
      knap="Subscribe"
    />
  </div>
  <Footer />
</MainLayout>
<style>
  #karrusel_h1 {
    color: var(--hvid);
    font-size: 72px;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.735) 2px 5px;
    margin: 20px;
    padding-top: 20px;
  }

  p {
    color: var(--graa);
    text-align: center;
    font-family: pt;
    font-size: 20px;
    padding-top: 40px;
  }

  #loka_info {
    padding-top: 50px;
    color: var(--graa);
    text-align: center;
    padding-top: 120px;
    padding-bottom: 100px;
  }

  #loka_info h3 {
    font-size: 20px;
  }

  #loka_info p {
    font-size: 18px;
  }

  h1 {
    color: var(--hvid);
    text-align: center;
    margin: 20px;
    padding-top: 80px;
  }

  #karrusel_illu {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .formular {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 800px) {
    .formular {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
</style>
