---
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu.astro";
---

<MainLayout>
  <Menu />
  <h1>MAP</h1>
  <img src="../img/map.webp" alt="billede af kort" />
  <Footer />
</MainLayout>

<style>
  h1 {
    color: var(--lilla);
    padding-top: 20px;
    padding-bottom: 20px;
  }

  img {
    padding-left: 400px;
    padding-top: 10px;
  }
</style>
