---
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu.astro";
---

<MainLayout>
  <Menu />
  <h1>MAP</h1>
  <img src="../img/map.webp" alt="billede af kort" />
  <Footer />
</MainLayout>

<style>
  @media (max-width: 850px) {
    h1 {
      color: var(--lilla);
      margin-top: 10%;
      padding-bottom: 5%;
    }

    img {
      max-width: 390px;
    }
  }
  @media (min-width: 850px) {
    h1 {
      color: var(--lilla);
      margin-left: 26%;
      margin-top: 5%;
      margin-bottom: 2%;
    }
    img {
      padding-left: 400px;
      padding-top: 10px;
    }
  }
</style>
