---
import MainLayout from "../pages/layouts/MainLayout.astro";
---

<MainLayout>
    <h1>MAP</h1>
    <img src="../img/map.webp" alt="billede af kort">
</MainLayout>

<style>
    h1 {
        color: var(--lilla);
        padding-top: 20px;
        padding-bottom: 20px;
    }
</style>