---
import MainLayout from "../pages/layouts/MainLayout.astro";
---


  
 <MainLayout>
 <h1>Tickets</h1>
<img src="../img/ticket.svg" alt="billede af ticket">
<h2>Can't Attend the whole festival?</h2>
<p>Buy a festival pass to an individual day that you would like to attend.</p>
<p>Price pr. day 450 DKK</p>
<p>Terms: age limit 18+</p>
<img src="../img/ticket_thursday" alt="billede af ticket thursday">
<img src="../img/ticket_friday" alt="billede af ticket friday">
<img src="../img/ticket_saturday" alt="billede af ticket saturday">
</MainLayout>