---
import Menu from "../components/Menu.astro";
import Buttons from "../components/Buttons.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<Menu />
<MainLayout title="Tickets">
  <h1>Tickets</h1>
  <section class="stjerner">
    <img id="to_stjerner" src="/img/2stjerner.svg" alt="billede af to stjerner" />
    <img id="stjerne_lille" src="/img/stjerne+lillesort.svg" alt="billede af stjerne" />
  </section>
  <section class="center">
    <img id="stor" src="/img/ticket.svg" alt="billede af ticket" />
    <Buttons variant="pos_1" size="large">BUY NOW</Buttons>
  </section>
  <div class="col1-1">
    <section class="textbox">
      <h2>Can't Attend the whole festival?</h2>
      <p>Buy a festival pass to an individual day that you would like to attend.</p>
      <p>Price pr. day <span id="price">450 DKK</span></p>
      <p>Terms: age limit 18+</p>
    </section>
    <div class="daytickets">
      <img id="thursday" src="/img/ticket_thursday.svg" alt="billede af ticket thursday" />
      <Buttons variant="pos_2" size="small">BUY NOW</Buttons>
      <img id="friday" src="/img/ticket_friday.svg" alt="billede af ticket friday" />
      <Buttons variant="pos_3" size="small">BUY NOW</Buttons>
      <img id="saturday" src="/img/ticket_saturday.svg" alt="billede af ticket saturday" />
      <Buttons variant="pos_4" size="small">BUY NOW</Buttons>
    </div>
  </div>
</MainLayout>

<style>
  p {
    color: var(--hvid);
    font-family: worksans;
  }

  h1 {
    color: white;
    font-family: rubik;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;
  }
  h2 {
    color: white;
    font-family: rubik;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .stor {
    display: block;
  }

  #thursday,
  #friday {
    margin-bottom: 5%;
  }

  #price {
    font-family: rubik;
    font-size: 1.2rem;
  }

  .daytickets {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    margin-bottom: 10%;
  }

  .textbox {
    margin-top: 5%;
  }

  .textbox p {
    line-height: 1.5rem;
    max-width: 400px;
  }

  .textbox h2 {
    max-width: 500px;
  }

  .stjerner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-bottom: 5%;
  }

  #stjerne_lille {
    padding-left: 50%;
  }
  .col1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
  }
</style>
