---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <article class="safespace">
    <h1>SAFE SPACE</h1>
    <ul>
      <li>KARRUSEL WELCOMES EVERYBODY - WE BELIEVE IN THE RIGHT OF EVERYONE TO EXPRESS THEMSELVES</li>
      <li>NO HOMOPHOBIA, RASICM, BODYSHAMING, ABLEISM, TRANSPHOBIA, OR SEXISM IN ANY FORM</li>
      <li>KARRUSEL ONLY EXISTS IF EVERYONE TAKES CARE OF EACH OTHER, RESPECTS THEIR OWN AND OTHERS BOUNDARIES, EMBRACES DIVERSITY AND ACTS AS A PART OF A COMMUNITY</li>
      <li>SPEAK UP RATHER THAN LOOKING THE OTHER WAY - REACH OUT TO OUR AWARENESS TEAM IN THE PINK VESTS IF YOU FEEL UNSAFE</li>
    </ul>
  </article>
  <article class="sustainability">
    <h1>SUSTAINABILITY</h1>
    <ul>
      <li>SAVE RESOURCES AND REDUCE WASTE - WE USE LEFTOVER MATERIALS AND TIMBER FOR STAGE DESIGNS AND INSTALLATIONS</li>
      <li>RE-USE OF PRODUCTION AND PRINT MATERIALS WHEN POSSIBLE EVERY YEAR</li>
      <li>BEVERAGES ARE SERVED IN REUSABLE OR SUSTAINABLE MATERIALS AND STRAWS ARE NOT USED</li>
      <li>HOW TO CONTRIBUTE - USE PUBLIC TRANSPORTATION TO THE FESTIVAL, DONT BRING CONFETTI OR GLITTER, BRING A CUP OR BOTTLE AND USE OUR TAP WATER STATIONS FOR FREE</li>
    </ul>
  </article>
</MainLayout>

<style>
  .safespace h1 {
    color: var(--blaa);
  }
  .sustainability h1 {
    color: var(--lilla);
  }

  li {
    color: var(--hvid);
  }

  .safespace {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .sustainability {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
</style>
