
<ul class="footer"> 
<ul class="footer1">
  <li>
    <img src="../img/logo.svg" alt="billede af logo" />
  </li>
  <li>NUS/NUS ApS</li>
  <li>CVR 31183200</li>
</ul>
<ul class="footer_2">
  <li>LOCATION</li>
  <li>Refshalevej 193 1432 Copenhagen Denmark</li>
  <li>GENERAL INQUIRES info@nusnus.dk</li>
</ul>
<ul class="footer_3">
  <li>Tickets <a href="tickets.astro"></a></li>
  <li>MAP <a href="map.astro"></a></li>
  <li>VALUES <a href="values.astro"></a></li>
</ul>

<ul class="footer_4">
    <a href="" aria-label="Instagram"><i class="fa-brands fa-square-instagram"
        style="color: #ffffff;"></i></a>

    <a href="" aria-label="Facebook"><i class="fa-brands fa-square-facebook"
            style="color: #ffffff;"></i></a>
        
</ul>
</ul>

<style>

li {
    color: white;
    font-family: "pt"
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.footer1 {
/* list-style: disc;
display: flex;
flex-direction: column;
padding: 30px;
align-items: start;
grid-template-columns: 3fr 1fr 1fr; */
grid-column: 1;
}

footer_2 {
grid-column: 1;
}

footer_3 {
grid-column: 1;
}

</style>

