<div class="footer_flex">
  <ul class="footer_1">
    <li>
      <img id="logo" src="../img/logo.svg" alt="billede af logo" />
    </li>
    <li>NUS/NUS ApS</li>
    <br />
    <li>CVR 31183200</li>
  </ul>
  <ul class="footer_2">
    <li>LOCATION</li>
    <li>Refshalevej 193</li>
    <li>1432 Copenhagen Denmark</li>
    <br />
    <li>GENERAL INQUIRES info@nusnus.dk</li>
  </ul>
  <ul class="footer_3">
    <li><a href="tickets">TICKETS</a></li>
    <br />
    <li><a href="map">MAP</a></li>
    <br />
    <li><a href="values">VALUES</a></li>
  </ul>
  <div class="footer_4">
    <a href="https://www.instagram.com/karruselfest/"
      ><img
        id="ig"
        src="../img/instagram.svg"
        width="40"
        height="40"
        alt="instalogo"
        class="insta"
      /></a
    >
    <a href="https://www.facebook.com/Karruselfestival"
      ><img
        src="../img/facebook.svg"
        width="40"
        height="40"
        alt="fblogo"
        class="facebook"
      /></a
    >
  </div>
</div>

<style>
  li {
    color: white;
    font-family: "pt";
    list-style: none;
  }

  ul {
    margin-top: 30px;
  }

  #logo {
    margin-bottom: 30px;
    width: 100px;
  }

  .footer_flex {
    margin-left: 40px;
  }

  .footer_4 {
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
    gap: 10px;
  }

  a {
    text-decoration: none;
    color: white;
  }

  @media (min-width: 800px) {
    .footer_flex {
      display: flex;
      width: 1200px;
    }

    .footer_1 {
      padding-bottom: 10px;
      margin-bottom: 100px;
    }

    .footer_4 {
      padding-top: 200px;
      display: flex;
      margin-top: 30px;
      margin-left: 50px;
    }

    .footer_4 img {
      width: 40px;
      margin-left: 20px;
      color: white;
    }

    ul {
      padding-left: 150px;
      padding-top: 200px;
    }

    img {
      width: 100px;
    }
  }
</style>
