/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* img {
  height: auto;
  display: block;
}

html {
  --sort: #000000;
  --blaa: #2974f0;
  --hvid: #ffffff;
  --graa: #e5e5e5;
  --pink: #f54765;
  --lilla: #a58cf8;
}

@font-face {
  font-family: "rubik";
  src: url(../src/fonts/webfontkit-20240314-054346/rubikmonoone-regular-webfont.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pt";
  src: url(../src/fonts/webfontkit-20240314-054322/ptmono-regular-webfont.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "worksans";
  src: url(../src/fonts/webfontkit-20240314-054426/worksans-variablefont_wght-webfont.woff2);
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: var(--sort);
}

h1 {
  font-family: rubik;
}
